.hero {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.hero img {
  width: 200px;
}

.hero h1 {
  font-size: 2em;
  font-weight: 300;
  color: #373d46;
}

.hero p {
  display: inline-block;
  font-weight: 300;
  line-height: 1.8em;
  color: #98a0ad;
}

@media (min-width: 1040px) {
  .hero {
    text-align: left;
    margin: 2em auto;
  }

  .hero img {
    width: 250px;
    float: right;
  }

  .hero h1 {
    font-size: 3em;
  }

  .hero p {
    width: 60%;
  }

}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
