<section class="hero">
  <img src="assets/college.png"/>
  <div class="container">
    <div class="row">
        <h1>Education</h1>
        <ul class="timeline">
          <li>
            <a href="#">The College of Management</a>
            <a href="#" class="float-right">2019 - Present</a>
            <p>B.Sc Computer Science.</p>
          </li>
          <li>
          <li>
            <a href="#">John Bryce</a>
            <a href="#" class="float-right">2018 - 2019</a>
            <p>Extreme .NET, Cyber Warfare.</p>
          </li>
          <li>
            <a href="#">Clean Code</a>
            <a href="#" class="float-right">2017- 2017</a>
            <p>The principles, patterns, and practices of writing clean code.</p>
          </li>
          <li>
            <a href="#">Basmach	-	IDF Computer Academy</a>
            <a href="#" class="float-right">2017- 2017</a>
            <p>Computer Software Engineering course.</p>
          </li>
          <li>
            <a href="#">ORT Colleges</a>
            <a href="#" class="float-right">2016 - 2017</a>
            <p>Technician, Computer Science.</p>
          </li>
          <li>
            <a href="#">Shay Agnon High School </a>
            <a href="#" class="float-right">2011 - 2016</a>
            <p>Computer Software Engineering <br> (10 units) and Economics (5 units).</p>
          </li>
        </ul>
    </div>
  </div>
</section>
