<section class="hero">
  <img src="assets/Photo2.jpg"/>
  <div class="hero-content">
    <h1>Experience</h1>
    <p>Professional fullstack developer
      with 3 years of experience
      (military service in a technological unit (Mazpen)).
      <br>
      Graduated an intensive programming course (Mamram),
      first year student (B.Sc) in
      Computer Science at College of Management Academic Studies.
    </p>
    <a class="action-btn" href="#">Contact me</a>
    <i class="fa fa-paper-plane fa-3x" aria-hidden="true"> </i>
  </div>
</section>
