<section class="hero">
  <img src="assets/idf.png"/>
  <div class="hero-content">
    <h1>Experience</h1>
    <p>End to end development starting with creating tables in DB (Oracle-SQL),
      writing monolithic server (Spring Boot Framework), client sides with (Angular),
      logging/monitoring with the elastic stack(ELK),
      ending with distributing versions and maintenance of the systems in the production.
    </p>
    <a class="action-btn" href="#">Contact me</a>
    <i class="fa fa-paper-plane fa-3x" aria-hidden="true"> </i>
  </div>
</section>
