.content {
  grid-area: content;
  background: lightblue;
}

.sidebar {
  background: linear-gradient(to right,
  rgba(249,107,142,1),
  rgba(218,103,230,1),
  rgba(130,125,253,1));
  justify-content: center;
}

.myContainer {
  font-size: 1.5em;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "siderbar"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: 130px 800px 250px;
}

.content,
.sidebar{
  padding: 1em;
}

@media (min-width: 1040px) {
  .myContainer {
    grid-template-areas:
      "siderbar content" "sidebar footer";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr auto;
  }

  .sidebar {
    background: linear-gradient(rgba(249,107,142,1), rgba(218,103,230,1), rgba(130,125,253,1));
    padding-top: 3em;
  }

}
