<div class="myContainer">
  <div class="sidebar">
    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Exp</a></li>
        <li><a href="#">Hobbit</a></li>
      </ul>
    </nav>
  </div>
  <div class="content">
    <section class="hero">
      <img src="assets/Photo2.jpg"/>
      <div class="hero-content">
        <h1>Passionate<br>Web Developer</h1>
        <p>I'm a nigga I'm a nigga I'm a nigga
          I'm a nigga I'm a nigga I'm a nigga
          I'm a nigga I'm a nigga I'm a nigga</p>
        <a class="action-btn" href="#">Hire me</a>
        <i class="fa fa-android fa-5x" aria-hidden="true"> </i>
      </div>
    </section>
  </div>
<!--  <div class="footer">-->
<!--    <footer>-->
<!--      <ul>-->
<!--        <li><i class="fab fa-linkedin"></i></li>-->
<!--        <li><i class="fab fa-twitter"></i></li>-->
<!--        <li><i class="fab fa-twitter"></i></li>-->
<!--        <li><i class="fab fa-twitter"></i></li>-->
<!--      </ul>-->
<!--    </footer>-->
<!--  </div>-->
</div>
